botton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto; 
    padding: 12px 24px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

botton:hover {
    background-color: #2ecc71; 
    transform: scale(1.1); 
}
